.image-block {
    background-image: url("../image/christoph-von-gellhorn-kjA82leKmJc-unsplash.jpg");
    width: 500px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}
