<header>
    <div class="nav-container">
        <nav class="nav-left">
            <ul>
                <li>
                    {{> header/logo}}
                </li>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/articles">
                        Articles
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About
                    </a>
                </li>
            </ul>
        </nav>
  
        <nav class="nav-right">
            <ul>
                {{!-- <li>
                    <a href="/user">
                        User
                    </a>
                </li> --}}
                <li>
                    <a href="/auth/login">
                        Login
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</header>